@import url("https://fonts.googleapis.com/css2?family=Roboto+Slab&display=swap");
body {
  background-color: tomato;
}
.card {
  background-color: #0992ec;
  color: white;
  width: 300px;
  font-size: 18px;
  font-family: "Roboto Slab", serif;
  padding: 5px;
}
.gif {
  width: 100%;
}
.Op {
  color: red;
}
